HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore properties files
**/src/main/resources/application.properties
**/src/test/resources/application.properties

**/*.pem
**/*.ppk
**/*.cert

**/*.png
# Native libs
**/native-libs/

# Logs folder
**/logs/

**/.DS_store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Firebase Stuff ###
pentland-scouts-events-firebase-adminsdk-itvod-eefde45b72.json
